<html>
  <head>
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the homepage</h1>
	<form action="/first">
	
    <label for="home"> Select from the options to proceed: </label> 
	<select name="home" id="home"> 
    <option value="add_section_form">Add data manually</option>
    <option value="template1">Add data with an upload form</option>
	<option value="dashboard">Proceed to dashboard</option>
    </select>
    <p><input type = "submit" value = "Submit" /></p>
	
	</form>
    </div>
  </body>
</html>